@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 10px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #171717;
  min-height: calc(100vh - 100px);
  margin: 0px;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
  color: #171717;
}

p {
  color: #171717;
}
a {
  color: white;
}
